{{ form_start(form) }}
    {#{ form_widget(form) }#}
    {{ form_row(form.photo) }}
    {{ form_row(form.categorie) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.parution) }}
    {{ form_row(form.listDa) }}
    {#{ form_row(form.roles) }#}
    {{ form_label(form.roles) }}
    <ul class="tags"
      data-index="{{ form.roles|length > 0 ? form.tags|last.roles.name + 1 : 0 }}"
      data-prototype="{{ form_widget(form.roles.vars.prototype)|e('html_attr') }}"
    ></ul>

    <button type="button" class="add_item_link" data-collection-holder-class="tags">Ajouter un rôle</button>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{{ dump(data) }}
<script>
const addFormToCollection = (e) => {
  const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

  const item = document.createElement('li');

  item.innerHTML = collectionHolder
    .dataset
    .prototype
    .replace(
      /__name__/g,
      collectionHolder.dataset.index
    );

  collectionHolder.appendChild(item);

  collectionHolder.dataset.index++;
};

document
  .querySelectorAll('.add_item_link')
  .forEach(btn => {
    btn.addEventListener("click", addFormToCollection)
  });


</script>
{#
<table>
    <thead>
        <tr>
            <th>aaa</th>
            <th>bbb</th>
            <th>ccc</th>
            <th>ddd</th>
            <th>eee</th>
            <th>fff</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
#}