{% extends 'base.html.twig' %}

{% block title %}Oeuvres index{% endblock %}

{% block body %}
    <h1>Toutes les oeuvres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Nom</th>
                <th>Parution</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for oeuvre in oeuvres %}
            <tr>
                <td><img src="{{ oeuvre.photo }}"></td>
                <td>{{ oeuvre.nom|capitalize }}</td>
                <td>{{ oeuvre.parution|format_datetime('short', 'none', locale='en') }}</td>
                <td>
                    <a href="{{ path('oeuvre_show', {'id': oeuvre.id}) }}">show</a>
                    {% if is_granted('ROLE_DIRECTEUR_ARTISTIQUE')%}
                      <a href="{{ path('oeuvre_edit', {'id': oeuvre.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune oeuvre enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_DIRECTEUR_ARTISTIQUE')%}
    <a href="{{ path('oeuvre_new') }}">Nouvelle oeuvre</a>
    {% endif %}
{% endblock %}
