{% extends 'base.html.twig' %}

{% block title %}Oeuvre{% endblock %}

{% block body %}
    <h1>{{ oeuvre.nom }}</h1>
    <img src="{{ oeuvre.photo }}" alt="">
    <div>Parution : {{ oeuvre.parution|format_datetime('long', 'none', locale='en') }}</div>
    <div>Direction : 
    {% for da in oeuvre.listDA %}
        {{da.nom}} {{da.prenom}} 
    {% endfor %}
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th colspan = "4" >Roles</th>
            </tr>
            {% for role in oeuvre.roles %}
            <tr>
                <td>{{ role.role }}</td>
                <td>
                {% if role.VF %}
                    <a href="{{ path('comedien_show', {'id': role.comedien.id}) }}">{{ role.comedien.nom }} {{ role.comedien.prenom }}</a>
                {% endif %}
                {% if role.VO %}
                    (VO:<a href="{{ path('comedien_show', {'id': role.comedien.id}) }}">{{ role.comedien.nom }} {{ role.comedien.prenom }}</a>)
                {% endif %}
                </td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>

    <div><a href="{{ path('oeuvre_edit', {'id': oeuvre.id}) }}">edit</a></div>

    <div><a href="{{ path('oeuvre_index') }}">back to list</a></div>
    
    {{ include('oeuvre/_delete_form.html.twig') }}
{% endblock %}
