{% extends 'base.html.twig' %}

{% block title %}Comedien index{% endblock %}

{% block body %}
    <h1>Comedien index</h1>

    {% for letter in 'a'|upper..'z'|upper %}
        <a href="{{ path('comedien_index', {'lettre': letter }) }}">{{ letter }}</a>
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comedien in comediens %}
            <tr>
                <td>{{ comedien.photo }}</td>
                <td>{{ comedien.nom }}</td>
                <td>{{ comedien.prenom }}</td>
                <td>
                    <a href="{{ path('comedien_show', {'id': comedien.id}) }}">show</a>
                    <a href="{{ path('comedien_edit', {'id': comedien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comedien_new') }}">Create new</a>
{% endblock %}
