{% extends 'base.html.twig' %}

{% block title %}Liste Comédien{% endblock %}

{% block body %}
    <h1>Comédiens</h1>

    {% for letter in 'a'|upper..'z'|upper %}
        <a href="{{ path('comedien_index', {'lettre': letter }) }}">{{ letter }}</a>
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Nom</th>
                <th>Prénom</th>
            </tr>
        </thead>
        <tbody>
        {% for comedien in comediens %}
            <tr>
                <td>{{ comedien.photo }}</td>
                <td>{{ comedien.nom }}</td>
                <td>{{ comedien.prenom }}</td>
                <td>
                    <a href="{{ path('comedien_show', {'id': comedien.id}) }}">Détails</a>
                    {% if is_granted('ROLE_COMEDIEN') %}
                    <a href="{{ path('comedien_edit', {'id': comedien.id}) }}">Editer</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">aucun comédien enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('comedien_new') }}">Nouveau Comédien</a>
    {% endif %}
{% endblock %}
