{% extends 'base.html.twig' %}

{% block title %}Comedien{% endblock %}

{% block body %}
    <h1>Comedien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ comedien.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ comedien.prenom }}</td>
            </tr>
            <tr>
                <th>DA</th>
                <td>{{ comedien.DA ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ comedien.photo }}</td>
            </tr>
        </tbody>
    </table>

    {{ dump(roles) }}

    <table>
        <tbody>
        {#% for role in roles %}
            <tr>
                <td>{{ role.nom }}</td>
                <td>{{ role.oeuvre.nom }}</td>
            </tr>
        {% else %}
        {% endfor %#}
        </tbody>
    </table>
    <a href="{{ path('comedien_index') }}">back to list</a>

    <a href="{{ path('comedien_edit', {'id': comedien.id}) }}">edit</a>

    {{ include('comedien/_delete_form.html.twig') }}
{% endblock %}
